/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
#container{
    background-color: white;
    height: 100%;
    padding:0;
    margin-bottom: 30px;
}
.quadro{
width: 50%;
margin: 0 auto;
}
.foglio{
    background-color: white;
    border-radius: 8px;
}
.foglio_header{
    border-bottom: 2px solid grey;
    padding: 10px 30px;
}
.foglio_body{
    padding:10px 30px;
}
.button{
    margin:5px 1px;
    border: 1px solid transparent;
    padding:5px 10px;
    border-radius: 5px;
}
#first_button{
    background-color: #1E90FF;
    border-color:#1E90FF;
    color: white;
}
#second_button{
    background-color: white;
    border-color:grey;
    color:grey;
    font-size: 10px 25px;
}

.rettangolo{
color:white;
text-align: center;
border:none;
width: 80px;
height: 30px;
padding:5px;
margin: 10px;
border-radius: 20px;
display: inline-block;
vertical-align:middle;
}
.blue{
    background-color: rgb(2, 204, 255);
}
.viola{
    background-color: blueviolet;
}
.green{
    background-color: darkgreen;
}
.orange{
    background-color: coral;
}
.rosino{
    background-color: rgb(250, 159, 174);
}
.light_green{
    background-color: rgb(15, 185, 15);
}
.cerchio{
    height:21px;
    width:20px;
    text-align:center;
    margin:none;
    padding: none;
    border-radius: 50%;
    display: inline-block;
}
.testo{
     display: inline-block;
     height: 30px;
     margin:5px;
     vertical-align:middle;
}
.bordi_verdi{
    border:solid green 2px;
}
.bordi_rossi{
border:solid red 2px;
}
/* Generals */
h1{
    display: inline;
    vertical-align:45%;
  }
#type_text,h1,h3,.testo{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: darkgrey;
}

hr{
    border-width: 1px;
}
h3{
    margin:30px 1px 20px 1px;
}
ul{
    list-style-type: none;
}