/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
#container{
    background-color: white;
    height: 100%;
    padding:0;
    margin-bottom: 30px;
}
.quadro{
width: 50%;
margin: 0 auto;
}
.foglio{
    background-color: white;
    border-radius: 8px;
    margin-bottom:50px;
}
.foglio_header{
    border-bottom: 2px solid grey;
    padding: 10px 30px;
}
.foglio_body{
    padding:10px 30px;
}
.button{
    margin:5px 1px;
    border: 1px solid transparent;
    padding:5px 10px;
    border-radius: 5px;
}
#first_button{
    background-color: #1E90FF;
    border-color:#1E90FF;
    color: white;
}
#second_button{
    background-color: white;
    border-color:grey;
    color:grey;
    font-size: 10px 25px;
}

.rettangolo{
color:white;
font-size: 10px;
text-align: center;
vertical-align:none;
margin-left: 2px;
padding:4px 10px;
border-radius: 10px;
line-height: 15px;
}

.caratteristica{
height: 40px;
line-height: 40px;
}
.blue{
    background-color: #45abea;
}
.viola{
    background-color: #9c72e4;
}
.green{
    background-color: #64c0a9;
}
.orange{
    background-color: #f29e33;
}
.rosino{
    background-color: #d863a1;
}
.light_green{
    background-color: #b0c926;
}
.cerchio{
    height:14px;
    width:14px;
    font-size: 10px;
    line-height: 14px;
    vertical-align:middle;
    text-align:center;
    border-radius: 50%;
    display: inline-block;
}
.testo_lista{
    vertical-align:middle;
}
.bordi_verdi{ 
    border:solid green 1px;
    color:green;
}
.bordi_rossi{
border:solid red 1px;
color: red;
}
/* Generals */
h1{
    display: inline;
    vertical-align:45%;
  }
#type_text,h1,h3,.testo,.rettangolo{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: darkgrey;
}
h3{
    margin:30px 1px 1px;
}
ul{
    list-style-type: none;
}