/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
#container{
    background-color: white;
    height: 100%;
    padding:0;
}
.logo{
    height: 100%;
    vertical-align:middle;
}
#foglio{
    background-color: white;
    margin: 25px 250px;
    padding:8px;
    height: 800px;
    border-radius: 8px;
}
/* Generals */
h1{
    display: inline;
    vertical-align:45%;
    font-family: Arial, Helvetica, sans-serif;
  }
body{
    background-color: darkgrey;
}